/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 0.5rem;
}

html {
  font-size: 16px;
}

form .martor-preview h2 {
  border-bottom: none;
}

/* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 2rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  min-height: 500px;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 500px;
  object-fit: cover;
}

.slider-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/* Showcase
    ------------------------- */

.custom-divider {
  margin: 2rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the showcase headings */
.showcase-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

.showcase-link {
  color: inherit;
}

.showcase-link:hover {
  text-decoration: none;
  color: #1eaedf;
}

.wmd-button-bar {
  background-color: white !important;
}

.footer-social:hover {
  text-decoration: none;
}

footer img {
  max-width: 25px;
}

/* RESPONSIVE CSS
    -------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .showcase-heading {
    font-size: 50px;
  }
}

/* stylelint-disable selector-list-comma-newline-after */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

/*
     * Blog posts
     */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: 0.25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

.post-card {
  min-height: 250px;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  color: inherit;
}

.toolbar-block {
  display: block !important;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 4px;
}

.md-preview pre {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.md-preview pre code {
  border-radius: 0px;
}
