<!-- Start header -->
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">Jatyam</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item{% if home %} active{% endif %}">
            <a class="nav-link" href="{% url 'home' %}">
              Home{% if home %} <span class="sr-only">(current)</span>{% endif %}
            </a>
          </li>
          <li class="nav-item{% if show %} active{% endif %}">
            <a class="nav-link" href="{% url 'showcase' %}">
              Showcase{% if show %} <span class="sr-only">(current)</span>{% endif %}
            </a>
          </li>
          <li class="nav-item{% if blog %} active{% endif %}">
            <a class="nav-link" href="{% url 'blog' %}">
              Blog{% if blog %} <span class="sr-only">(current)</span>{% endif %}
            </a>
          </li>
          <li class="nav-item{% if contact %} active{% endif %}">
            <a class="nav-link" href="{% url 'contact' %}">
              Contact{% if contact %} <span class="sr-only">(current)</span>{% endif %}
            </a>
          </li>
        </ul>
        {% include extra_nav|default:"layouts/blank.html" %}
      </div>
    </div>
  </nav>
</header>
<!-- End header -->